{% extends "layout.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in owned %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["name"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ stock["price"] }}</td>
                <td>{{ stock["total"] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="1"></td>
                <td>CASH</td>
                <td colspan="2"></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ total }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}